*{
    margin: 0px;
    font-family:sans-serif;
}

.main-background{
    background-color:#f2f4f5;
    height: 100vh;
    
}

.top-section{
    display: flex;
    justify-content: space-between;
}
.main-heading{
    color:#3b3e40;
    height: 24px;
    padding: 16px;
}

.main-description{
    color:#a3a2a5;
    padding-left: 16px;
    margin-bottom: 24px;
    margin-right:5px;
}
.TextField{
    width: 80vw;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    border-radius: 16px;
    cursor: pointer;
    outline: none;
    padding-left:10px;
    margin-right: 20px;

}
.footer-sec{
    position:absolute;
    bottom: 24px;
    left: 24px;
    display: flex;
    
}
.chatBlock{
    height: 76vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: auto;
}